$bg-color:#fafbff;
$bg-hover:#f3f3f3;
$border:#e6e6e6;
$font-black:#333;
$font-normal:#555;
$font-light:#888;
$theme-blue:#50abcd;
$theme-red:#c7254e;
@font-face {font-family: 'opensans-light';
  src: url('../font/OpenSans-Light.eot'); /* IE9*/
  src: url('../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/OpenSans-Light.woff') format('woff'), /* chrome、firefox */
  url('../font/OpenSans-Light.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/OpenSans-Light.svg') format('svg'); /* iOS 4.1- */
  font-weight: lighter;
}

@font-face {font-family: 'opensans-regular';
  src: url('../font/OpenSans-Regular.eot'); /* IE9*/
  src: url('../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/OpenSans-Regular.woff') format('woff'), /* chrome、firefox */
  url('../font/OpenSans-Regular.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/OpenSans-Regular.svg') format('svg'); /* iOS 4.1- */
  font-weight: normal;
}
html{
  font-size:58%;
  height: 100%;
  body{
    margin: 0;
    height: 100%;
    font-family: opensans-light;
    box-sizing: content-box;
    div{
      box-sizing: border-box;
    }
    p{
      margin: 0 5px;
    }
    .left-panel{
      width: 33.3%;
      height: 100%;
      position: fixed;
      background-image: url("../images/left_bg1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      div{
        margin-top: 10px;
      }
      .self_intro{
        padding-top: 50px;
        color:white;
        .img_holder{
          text-align: center;
          img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border:2px solid $border;
          }
        }
        .title{
          text-align: center;
          font-family: "opensans-regular";
          font-size: 1.8rem;
        }
        .icons{
          text-align: center;
          i{
            font-size: 10px;
            color:white;
            padding: 3px;
            border:1px solid white;
            -webkit-border-radius:50%;
            -moz-border-radius:50%;
            border-radius:50%;
            margin: 0 3px;
          }
        }
        .intro_text{
          text-align: center;
          font-size: 1.5rem;
          p{
            width: 70%;
            margin: 0 auto;
            text-align: left;
          }
        }
      }
    }
    .right-panel{
      margin-left: 33.3%;
      width: 66.6%;
      min-height: 100%;
      margin-top: 0 !important;
      position: relative;
      background-color: $bg-color;
      #upload-label{
        position: absolute;
        left:15px;
        bottom: 15px;
        i{
          font-size: 1.2rem;
          color: $theme-blue;
          opacity: 0.7;
          cursor: pointer;
          transition: all .2s ease;
          &:hover{
            opacity: 1;
          }
        }
      }
      .myNote{
        padding: 3em;
        width: 100%;
        background-color: $bg-color;
        min-height: 100%;
        .addNote{
          width: 45%;
          position: fixed;
          top:0;
          padding-top: 20px;
          right:-42%;
          -webkit-transition: all .5s ease-in;
          -moz-transition: all .5s ease-in;
          transition: all .5s ease-in;
          z-index: 1000;
          //background-color: #fdfdfd;
          &.active{
            right:10px;
            .icon{
              i{
                transform: rotate(45deg);
              }
            }
          }
          .icon{
            position: absolute;
            top:22px;
            left:0;
            cursor: pointer;
            i{
              width: 2rem;
              height: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #aaa;
              border-radius: 50%;
              color: white;
              transition: all .5s ease-in-out;
            }
          }
          form{
            width: 90%;
            margin-left: 15%;

            font-size: 1.5rem;
            background-color: $bg-color;
            .simditor-body{
              max-height:300px;
              overflow: auto;
            }
            >div{
              width: 95%;
              margin-bottom: 1em;
            }
            .adiv-title,.adiv-describe{
              height:2em;
              input{
                height: 100%;
                width: 95%;
                border:none;
                background: transparent;
                font-size: 1.25em;
                &:focus{
                  outline: none;
                }
              }
              input.input-describe{
                font-size: 1em;
              }
            }
            .adiv-content{
              textarea{
                height: 150px;
                resize: vertical;
                border:1px solid $border;
                border-radius: 2px;
                font-size: 1.1em;
                width: 97%;
              }

            }
            .adiv-class{
              height: 2em;
              width: 100%;
              display: flex;
              label{
                cursor:pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                  width:14px;
                  height:14px;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  border:1px solid $theme-blue;
                  border-radius: 3px;
                  transition:all .2s ease;
                  outline:none;
                  opacity: 0.8;
                  &:checked{
                    background: $theme-blue;
                    padding: 3px;
                    background-clip: content-box;
                  }
                }
                span{
                  margin-left: 0.5em;
                  margin-right: 1em;
                }
              }
            }
            .adiv-button{
              button{
                cursor: pointer;
                width: 100%;
                height: 33px;
                background: $theme-blue;
                border:1px solid $border;
                border-radius: 3px;
                font-size: 1em;
                color:white;
              }
            }
          }
        }
        p.title{
          font-size: 3rem;
          text-align: center;
          margin: 0 auto;
          cursor:pointer;
          transition: all .2s ease;
          line-height: 3rem;
          width: 25rem;
          &:hover{
            font-size: 3.5rem;
          }
        }
        .markdown{
          >p{
            margin:10px 5px;
            strong{
              font-size: 2rem;
              font-weight: 400;
              color: $theme-red;
            }
          }
          >ol{
            margin:10px 5px;
          }
          >blockquote{
            margin-top:10px
          }
          >pre{
            margin:10px 5px;
          }
          >div{
            margin:15px 0;
          }
        }
        .article-wrapper{
          transition: all .5s ease-in-out;
          opacity: 1;
          div.type{
            padding:10px 0;
            margin:5px 0;
            cursor:pointer;
            color:$font-light;
            transition: all .2s ease;
            &:hover{
              color:$font-black;

            }
            p:nth-child(1){
              font-size: 2.5rem;
            }
            p:nth-child(2){
              font-size: 2rem;
            }
          }
          article.note{
            width: 90%;
            margin: 1.5em;
            font-size: 1.8rem;
            opacity: 0.65;
            transition:ease 0.3s;
            margin-bottom: 2.5rem;
            .article-title{
              cursor: pointer;
            }
            &:hover{
              opacity: 1;
            }
          }
          article.note-detail {
            width: 90%;
            margin: 1.5em;
            font-size: 2rem;
          }
          article.note,article.note-detail{

            p.article-title{
              font-size: 1.5em;
              color:$font-black;
              margin-bottom: 0.5em;
            }
            p.content{
              font-size: 1em;
              color:$font-normal;
              margin-bottom: 1em;
              img{
                max-width: 90%;
              }
            }
            p.footer{
              font-size: 0.8em;
              color:$font-light;
              span{
                margin-right: 1em;
              }
              .classSpan,.alterSpan,.deleteSpan{
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    #myModal{
      .adiv-title,.adiv-describe{
        height:3em;
        margin:0.2em 0;
        input{
          height: 100%;
          width: 95%;
          border:none;
          background: transparent;
          font-size: 1.25em;
          outline: none;
          &:focus{
            outline: none;
          }
        }
        input.input-describe{
          font-size: 1em;
        }
      }
      .adiv-content{
        textarea{
          height: 150px;
          resize: vertical;
          border:1px solid $border;
          border-radius: 2px;
          font-size: 1.1em;
          width: 97%;
        }

      }
      .adiv-class{
        height: 2em;
        width: 100%;
        display: flex;
        margin:0.5em 0;
        label{
          cursor:pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          input{
            width:14px;
            height:14px;
            -webkit-appearance: none;
            -moz-appearance: none;
            border:1px solid $theme-blue;
            border-radius: 3px;
            transition:all .2s ease;
            outline:none;
            opacity: 0.8;
            margin: 0;
            &:focus{
              outline: none;
            }
            &:checked{
              background: $theme-blue;
              padding: 3px;
              background-clip: content-box;
            }
          }
          span{
            margin-left: 0.5em;
            margin-right: 1em;
          }
        }
      }
    }
  }
  .nodisplay{
    display: none;
  }
}
@media all and (max-width: 500px) {
  html{
    body{
      .left-panel{
        width: 100%;
        height: 20%;
        position: relative;
        .self_intro{
          padding-top: 10px;
          color:white;
          margin-top: 0;
          .img_holder{
            margin:0 auto;
            width: 20%;
            img{
              width: 80%;
              height: 80%;
            }
          }
          .title{
            p:nth-child(2){
              display: none;
            }
          }
          .icons{
            display: none;
          }
          .intro_text{
            display: none;
          }
        }
      }
      .right-panel{
        width: 100%;
        margin-left: 0;
        min-height: 80%;
        .myNote{
          p.title{
            transition: none;
            &:hover{
              font-size: 3rem;
            }
            &.active{
              font-size: 3.5rem;
            }
          }
          .addNote{
            width: 100%;
            height: 70%;
            bottom:-70%;
            right: -8px;
            position: fixed;
            top:initial;
            -webkit-transition: all .5s ease-in;
            -moz-transition: all .5s ease-in;
            transition: all .5s ease-in;
            z-index: 1000;
            //background-color: #fdfdfd;
            &.active{
              bottom:0;
              right: -8px;
              .icon{
                i{
                  transform: rotate(45deg);
                }
              }
            }
            .icon{
              position: absolute;
              top:-40px;
              right:20px;
              i{
                position: absolute;
                right:0px;
              }
            }
            form{
              width: 100%;
              margin-left: 0;
              font-size: 1.5rem;
              background-color: $bg-color;
              .simditor-body{
                min-height: 100px;
                max-height:150px;
                overflow: auto;
              }
              >div{
                width: 95%;
                margin-bottom: 1em;
              }
              .adiv-title,.adiv-describe{
                height:2em;
                input{
                  height: 100%;
                  width: 95%;
                  border:none;
                  background: transparent;
                  font-size: 1.25em;
                  &:focus{
                    outline: none;
                  }
                }
                input.input-describe{
                  font-size: 1em;
                }
              }
              .adiv-content{
                textarea{
                  height: 150px;
                  resize: vertical;
                  border:1px solid $border;
                  border-radius: 2px;
                  font-size: 1.1em;
                  width: 97%;
                }

              }
              .adiv-class{
                height: 2em;
                width: 100%;
                display: flex;
                label{
                  cursor:pointer;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  input{
                    width:14px;
                    height:14px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    border:1px solid $theme-blue;
                    border-radius: 3px;
                    transition:all .2s ease;
                    outline:none;
                    opacity: 0.8;
                    &:checked{
                      background: $theme-blue;
                      padding: 3px;
                      background-clip: content-box;
                    }
                  }
                  span{
                    margin-left: 0.5em;
                    margin-right: 1em;
                  }
                }
              }
              .adiv-button{
                button{
                  cursor: pointer;
                  width: 100%;
                  height: 33px;
                  background: $theme-blue;
                  border:1px solid $border;
                  border-radius: 3px;
                  font-size: 1em;
                  color:white;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 768px) and (min-width: 501px) {
  html{
    body{
      .left-panel{
        width: 100%;
        height: 20%;
        position: relative;
        .self_intro{
          padding-top: 20px;
          color:white;
          margin-top: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .img_holder{
            margin:0 10px;
            width: 20%;
            img{
              width: 90px;
              height: 90px;
            }
          }
          .title{
            width: 40%;
            font-size: 2.5rem;
            //font-family:"opensans-light";
            p:nth-child(2){
              display: none;
            }
          }
          .icons{
            display: none;
          }
          .intro_text{
            display: none;
          }
        }
      }
      .right-panel{
        width: 100%;
        margin-left: 0;
        .myNote{
          p.title{
            transition: none;
            &:hover{
              font-size: 3.5rem;
            }
            &.active{
              font-size: 3.5rem;
            }
          }
          .addNote{
            width: 70%;
            right:-63%;
            .icon{
              bottom:22px;
              top:initial;
            }
          }
        }
      }
    }
  }
}